.chart__container {
    flex-grow: 1;
    overflow: hidden;
    margin-top: 1rem;
    padding: 0 2.5rem;
    /* background-color: var(--colour-secondary); */
}

@media (max-width: 768px) {
    .chart__container {
        padding: 0;
    }
}

/* Data view title */
.chart__container > div > div > h4 {
    font-size: 2rem;
}

/* Close button */
.chart__container > div > div:nth-child(3) > div:nth-child(3) > div {
    font-size: 1.7rem !important;
    font-family: inherit;
    &:hover {
        background-color: var(--colour-secondary) !important;
        color: var(--colour-black) !important;
    }
}

.legend-text {
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}