// Import Bootstrap CSS
// @import "~bootstrap/scss/bootstrap";

// Import Bootstrap icons CSS
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Import Bootswatch Sandstone theme CSS
@import "./bootstrap.min.css";

// Import DNA loading spinner CSS
@import "./dnaSpinner.scss";


// CSS
.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

// #dna-spinner {}

#gene-selector {
    width: 200px;
}


